* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-image: url(/assets/image/background.jpg);
}

@font-face {
  font-family: Amatic_SC;
  src: url(/assets/styles/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
  font-family: Amatic_SC_bold;
  src: url(/assets/styles/Amatic_SC/AmaticSC-Bold.ttf);
}

.header_name {
  font-family: Amatic_SC_bold;
  font-size: 45px;
  text-shadow: -5px -5px 0px #5567f0;
  display: flex;
  justify-content: center;
  height: 150px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.menu {
  list-style-type: none;
  display: inline-flex;
}

.menu a {
  text-decoration: none;
  font-family: Amatic_SC_bold;
  font-size: 40px;
  color: #5567f0;
  display: inline-block;
  padding: 10px 20px;
}

img {
  border-radius: 85px;
}

a:hover {
  text-decoration: underline;
}

.gallery {
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
}

.item img:hover {
  transform: scale(1.1);
}
